.navbar {
  height: 100px;
  text-align: center;
  display: flex;
  .wrapper {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 30px;
    align-items: center;
    height: 100%;
    top: 7vh;
    position: relative;
    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 20px;
    }
  }
}
